Source: ossec-hids
Section: unknown
Priority: extra
Maintainer: Arctic Wolf Networks Inc. Development <dev@arcticwolf.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ossec-hids
Architecture: all
Depends: ${misc:Depends}, 
Description: ossec-hids 2.9.21
